# Exercise 1:
Categorical Variables

In [1]:
import pandas as pd
df = pd.DataFrame({'salary': [103, 89, 142, 54, 63, 219],
                   'boro': ['Manhattan', 'Queens', 'Manhattan', 'Brooklyn', 'Brooklyn', 'Bronx']})
df

   salary       boro
0     103  Manhattan
1      89     Queens
2     142  Manhattan
3      54   Brooklyn
4      63   Brooklyn
5     219      Bronx

In [4]:
pd.get_dummies(df)

   salary  boro_Bronx  boro_Brooklyn  boro_Manhattan  boro_Queens
0     103       False          False            True        False
1      89       False          False           False         True
2     142       False          False            True        False
3      54       False           True           False        False
4      63       False           True           False        False
5     219        True          False           False        False

In [6]:
pd.get_dummies(df, dtype=int)

   salary  boro_Bronx  boro_Brooklyn  boro_Manhattan  boro_Queens
0     103           0              0               1            0
1      89           0              0               0            1
2     142           0              0               1            0
3      54           0              1               0            0
4      63           0              1               0            0
5     219           1              0               0            0

In [ ]:
#zipcode

In [3]:
df.dtypes

salary     int64
boro      object
dtype: object

In [9]:
df2 = pd.DataFrame({'Gender':['m','f','m','m','f'],\
                    'AgeGroup':['<18','18-25','25-35',
                                '35-45','45-65']})

In [10]:
df2

  Gender AgeGroup
0      m      <18
1      f    18-25
2      m    25-35
3      m    35-45
4      f    45-65

In [12]:
X_train = pd.get_dummies(df2, dtype=int)

In [13]:
X_train

,Gender_f,Gender_m,AgeGroup_18-25,AgeGroup_25-35,AgeGroup_35-45,AgeGroup_45-65,AgeGroup_<18
0,0,1,0,0,0,0,1
1,1,0,1,0,0,0,0
2,0,1,0,1,0,0,0
3,0,1,0,0,1,0,0
4,1,0,0,0,0,1,0

In [14]:
dfnew = pd.DataFrame({'Gender':['m','f','m','m','f'],\
                    'AgeGroup':['<18','18-25','25-35','35-45','65+']})
dfnew

  Gender AgeGroup
0      m      <18
1      f    18-25
2      m    25-35
3      m    35-45
4      f      65+

In [17]:
X_test = pd.get_dummies(dfnew, dtype=int)

In [18]:
X_test

,Gender_f,Gender_m,AgeGroup_18-25,AgeGroup_25-35,AgeGroup_35-45,AgeGroup_65+,AgeGroup_<18
0,0,1,0,0,0,0,1
1,1,0,1,0,0,0,0
2,0,1,0,1,0,0,0
3,0,1,0,0,1,0,0
4,1,0,0,0,0,1,0

In [20]:
X_test.reindex(columns=X_train.columns,fill_value=0 )

,Gender_f,Gender_m,AgeGroup_18-25,AgeGroup_25-35,AgeGroup_35-45,AgeGroup_45-65,AgeGroup_<18
0,0,1,0,0,0,0,1
1,1,0,1,0,0,0,0
2,0,1,0,1,0,0,0
3,0,1,0,0,1,0,0
4,1,0,0,0,0,0,0

In [22]:
from sklearn.preprocessing import OneHotEncoder

In [40]:
ohe1 = OneHotEncoder(handle_unknown = 'ignore',sparse_output=False)

In [41]:
ohe1.fit(df2)

OneHotEncoder(handle_unknown='ignore', sparse_output=False)

In [42]:
df2_tf = ohe1.transform(df2)

In [43]:
cols = ohe1.get_feature_names_out()

In [44]:
pd.DataFrame(df2_tf, columns=cols)

,Gender_f,Gender_m,AgeGroup_18-25,AgeGroup_25-35,AgeGroup_35-45,AgeGroup_45-65,AgeGroup_<18
0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [46]:
dfnew_tf = ohe1.transform(dfnew)

In [47]:
pd.DataFrame(dfnew_tf, columns=cols)

,Gender_f,Gender_m,AgeGroup_18-25,AgeGroup_25-35,AgeGroup_35-45,AgeGroup_45-65,AgeGroup_<18
0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
scaler = StandardScaler()
scaler.fit_tramsform(X_train)
scaler.transform()X_test

In [103]:
import numpy as np
df3=pd.DataFrame({'brand':['BMW', 'Pepsi', 'Mac', 'Pepsi'],
             'category':['car', 'drink', 'computer', 'Unknown'],
             'num1':[1,1,0,0],
             'target':[0.2, 0.11, 1.34, 1.123]})
df3

   brand  category  num1  target
0    BMW       car     1   0.200
1  Pepsi     drink     1   0.110
2    Mac  computer     0   1.340
3  Pepsi   Unknown     0   1.123

In [95]:
df3.dtypes

brand        object
category     object
num1          int64
target      float64
dtype: object

In [104]:
X_df3 = df3.drop('target', axis=1)

In [105]:
y_df3=df3.target

In [106]:
X_df3

   brand  category  num1
0    BMW       car     1
1  Pepsi     drink     1
2    Mac  computer     0
3  Pepsi   Unknown     0

In [56]:
categorical = X_df3.dtypes==object

In [57]:
numerical = X_df3.dtypes!=object

In [ ]:
#numerical=~categorical

In [58]:
numerical

brand       False
category    False
num1         True
dtype: bool

In [61]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

numeric_transformer = Pipeline(steps = [('imputer_num', SimpleImputer(strategy='mean')),
                  ('scaler', StandardScaler())])

In [62]:
numeric_transformer

Pipeline(steps=[('imputer_num', SimpleImputer()), ('scaler', StandardScaler())])

In [96]:
categorical_transformer = Pipeline(steps = [('imputer_cat', SimpleImputer(strategy='most_frequent')),
                  ('ohe', OneHotEncoder(handle_unknown='ignore'))])

In [64]:
from sklearn.compose import ColumnTransformer

In [107]:
ct = ColumnTransformer(transformers = [('cat', categorical_transformer,categorical),
                                  ('num', numeric_transformer, numerical)])

In [67]:
ct

ColumnTransformer(transformers=[('cat',
                                 Pipeline(steps=[('imputer_cat',
                                                  SimpleImputer(strategy='constant')),
                                                 ('ohe',
                                                  OneHotEncoder(handle_unknown='ignore'))]),
                                 brand        True
category     True
num1        False
dtype: bool),
                                ('num',
                                 Pipeline(steps=[('imputer_num',
                                                  SimpleImputer()),
                                                 ('scaler', StandardScaler())]),
                                 brand       False
category    False
num1         True
dtype: bool)])

In [108]:
ct.fit_transform(X_df3)

array([[ 1.,  0.,  0.,  0.,  1.,  0.,  0.,  1.],
       [ 0.,  0.,  1.,  0.,  0.,  0.,  1.,  1.],
       [ 0.,  1.,  0.,  0.,  0.,  1.,  0., -1.],
       [ 0.,  0.,  1.,  1.,  0.,  0.,  0., -1.]])

In [71]:
ct.get_feature_names_out()

array(['cat__brand_BMW', 'cat__brand_Mac', 'cat__brand_Pepsi',
       'cat__brand_missing_value', 'cat__category_Unknown',
       'cat__category_car', 'cat__category_computer',
       'cat__category_drink', 'num__num1'], dtype=object)

In [73]:
X_df3

   brand  category  num1
0    BMW       car     1
1  Pepsi     drink     1
2    Mac  computer     0
3    NaN   Unknown     0

In [68]:
from sklearn.neighbors import KNeighborsRegressor

In [74]:
knr = KNeighborsRegressor(n_neighbors=1)

In [75]:
mymodel = Pipeline(steps = [('prep',ct),
                  ('est', knr)])

In [109]:
mymodel.fit(X_df3, y_df3)

Pipeline(steps=[('prep',
                 ColumnTransformer(transformers=[('cat',
                                                  Pipeline(steps=[('imputer_cat',
                                                                   SimpleImputer(strategy='constant')),
                                                                  ('ohe',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  brand        True
category     True
num1        False
dtype: bool),
                                                 ('num',
                                                  Pipeline(steps=[('imputer_num',
                                                                   SimpleImputer()),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  brand       False
category    False
num1         True
dtype: bool)])),
                ('est', KNeighborsRegressor(n_neighbors=1))])

In [82]:
mymodel.score(X_df3, y_df3)

1.0

In [110]:
df4=pd.DataFrame({'brand':['BMW', np.nan, 'Mac', np.nan],
             'category':['car', 'drink', np.nan, 'other'],
             'num1':[np.nan,1,0,np.nan]})
df4

  brand category  num1
0   BMW      car   NaN
1   NaN    drink   1.0
2   Mac      NaN   0.0
3   NaN    other   NaN

In [88]:
df4.isnull().sum(axis=1)

0    1
1    1
2    1
3    2
dtype: int64

In [111]:
ct.transform(df4)

array([[ 1.,  0.,  0.,  0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.,  0.,  1.,  1.],
       [ 0.,  1.,  0.,  1.,  0.,  0.,  0., -1.],
       [ 0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.]])

In [112]:
ct.get_feature_names_out()

array(['cat__brand_BMW', 'cat__brand_Mac', 'cat__brand_Pepsi',
       'cat__category_Unknown', 'cat__category_car',
       'cat__category_computer', 'cat__category_drink', 'num__num1'],
      dtype=object)

In [113]:
pd.DataFrame(ct.transform(df4), columns =ct.get_feature_names_out() )

,cat__brand_BMW,cat__brand_Mac,cat__brand_Pepsi,cat__category_Unknown,cat__category_car,cat__category_computer,cat__category_drink,num__num1
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
2,0.0,1.0,0.0,1.0,0.0,0.0,0.0,-1.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [114]:
mymodel.predict(df4)

array([0.2 , 0.11, 1.34, 0.2 ])

In [ ]:
1. define the numerical and categorical variables
2. create the numerical and categorical transformers
3. put the transformers in a columntransformer
4. fit and transform the training dataset using the column transformer
5. Predict the target variable for df4 using the model trained in Step 3


# Column Transformer with Mixed Types


This example illustrates how to apply different preprocessing and feature
extraction pipelines to different subsets of features, using
`ColumnTransformer`. This is particularly handy for the
case of datasets that contain heterogeneous data types, since we may want to
scale the numeric features and one-hot encode the categorical ones.

In this example, the numeric data is standard-scaled after mean-imputation,
while the categorical data is one-hot encoded after imputing missing values
with a new category (``'missing'``).

In addition, we show two different ways to dispatch the columns to the
particular pre-processor: by column names and by column data types.

Finally, the preprocessing pipeline is integrated in a full prediction pipeline
using `Pipeline`, together with a simple classification
model.

In [115]:
import numpy as np
import pandas as pd

from sklearn.compose import ColumnTransformer, make_column_transformer
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split, GridSearchCV

#### Step 1: Read the data set `Titanic.csv`
Print the column names. Drop 'boat','body','cabin','home.dest','name','ticket','sibsp','parch'

In [117]:
datanic = pd.read_csv('Titanic.csv')

In [118]:
datanic.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [119]:
datanic.drop(['boat','body','cabin','home.dest','name','ticket','sibsp','parch'],
            axis=1,inplace=True)

In [120]:
datanic.columns

Index(['pclass', 'survived', 'sex', 'age', 'fare', 'embarked'], dtype='object')

#### Step 2: Calculate duplicates
- Report the size of the dataset
- Report if there are any duplicates using `duplicated()` method of pandas dataframe
- List all duplicate rows
- Drop all duplicate rows using `dop_duplicates` method of pandas dataframe
- Report the new shape of the dataset

In [121]:
datanic.shape

(1309, 6)

In [122]:
datanic.head()

   pclass  survived     sex     age      fare embarked
0       1         1  female      29  211.3375        S
1       1         1    male  0.9167    151.55        S
2       1         0  female       2    151.55        S
3       1         0    male      30    151.55        S
4       1         0  female      25    151.55        S

In [124]:
datanic.duplicated().sum()

215

In [125]:
dups = datanic.duplicated()

In [126]:
datanic[dups]

      pclass  survived     sex age     fare embarked
118        1         0    male   ?    26.55        S
125        1         0    male   ?        0        S
179        1         0    male   ?    26.55        S
185        1         0    male  42    26.55        S
223        1         0    male   ?        0        S
...      ...       ...     ...  ..      ...      ...
1296       3         0    male  27   8.6625        S
1297       3         0    male   ?     7.25        S
1302       3         0    male   ?    7.225        C
1303       3         0    male   ?  14.4583        C
1305       3         0  female   ?  14.4542        C

[215 rows x 6 columns]

In [130]:
datanic.drop_duplicates(inplace=True)

In [131]:
datanic.shape

(1094, 6)

#### Step 3: Explore the dataset for missing values
- Assign `survived' as target variable `y` and the rest as `X`
- Print info about `X` to see if there are any null values and the type of the features
- Check if all columns have only alpha numeric characters. To do that you need to use `isalnum()` method of Python which works on strings. Before using this method. we need to change all features into string using `astype('str')`
- Replace all `?` characters with `np.nan`
- Now, turn 'age','fare' into numeric again using `apply(pd.to_numeric) `
- Print the first five samples of `X`
- Summarize the number of unique values in each column using `nunique()`

In [132]:
X = datanic.drop('survived',axis=1)
y = datanic.survived

In [133]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1094 entries, 0 to 1308
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1094 non-null   int64
 1   sex       1094 non-null   object
 2   age       1094 non-null   object
 3   fare      1094 non-null   object
 4   embarked  1094 non-null   object
dtypes: int64(1), object(4)
memory usage: 51.3+ KB

In [134]:
X.head()

   pclass     sex     age      fare embarked
0       1  female      29  211.3375        S
1       1    male  0.9167    151.55        S
2       1  female       2    151.55        S
3       1    male      30    151.55        S
4       1  female      25    151.55        S

In [135]:
X.isnull().sum()

pclass      0
sex         0
age         0
fare        0
embarked    0
dtype: int64

In [136]:
np.unique(X.embarked)

array(['?', 'C', 'Q', 'S'], dtype=object)

In [138]:
np.unique(X.fare)

array(['0', '10.1708', '10.4625', '10.5', '10.5167', '10.7083', '106.425',
       '108.9', '11.1333', '11.2417', '11.5', '110.8833', '113.275', '12',
       '12.1833', '12.275', '12.2875', '12.35', '12.475', '12.525',
       '12.65', '12.7375', '12.875', '120', '13', '13.4167', '13.5',
       '13.775', '13.7917', '13.8583', '13.8625', '13.9', '133.65',
       '134.5', '135.6333', '136.7792', '14', '14.1083', '14.4',
       '14.4542', '14.4583', '14.5', '146.5208', '15', '15.0333',
       '15.0458', '15.05', '15.1', '15.2458', '15.5', '15.55', '15.5792',
       '15.7417', '15.75', '15.85', '15.9', '151.55', '153.4625', '16',
       '16.1', '16.7', '164.8667', '17.4', '17.8', '18', '18.75',
       '18.7875', '19.2583', '19.5', '19.9667', '20.2125', '20.25',
       '20.525', '20.575', '21', '21.075', '21.6792', '211.3375', '211.5',
       '22.025', '22.3583', '22.525', '221.7792', '227.525', '23',
       '23.25', '23.45', '24', '24.15', '247.5208', '25.4667', '25.5875',
       '25.7', '25.7417', '25.925', '25.9292', '26', '26.25', '26.2833',
       '26.2875', '26.3875', '26.55', '262.375', '263', '27', '27.4458',
       '27.7208', '27.75', '27.9', '28.5', '28.5375', '28.7125', '29',
       '29.125', '29.7', '3.1708', '30', '30.0708', '30.5', '30.6958',
       '31', '31.275', '31.3875', '31.5', '31.6792', '31.6833', '32.3208',
       '32.5', '33', '33.5', '34.0208', '34.375', '34.6542', '35', '35.5',
       '36.75', '37.0042', '38.5', '39', '39.4', '39.6', '39.6875',
       '4.0125', '40.125', '41.5792', '42.4', '42.5', '45.5', '46.9',
       '47.1', '49.5', '49.5042', '5', '50', '50.4958', '51.4792',
       '51.8625', '512.3292', '52', '52.5542', '53.1', '55', '55.4417',
       '55.9', '56.4958', '56.9292', '57', '57.75', '57.9792', '59.4',
       '6.2375', '6.4375', '6.45', '6.4958', '6.75', '6.8583', '6.95',
       '6.975', '60', '61.175', '61.3792', '61.9792', '63.3583', '65',
       '66.6', '69.3', '69.55', '7', '7.0458', '7.05', '7.0542', '7.125',
       '7.1417', '7.225', '7.2292', '7.25', '7.2833', '7.3125', '7.4958',
       '7.5208', '7.55', '7.575', '7.5792', '7.6292', '7.65', '7.7208',
       '7.725', '7.7292', '7.7333', '7.7375', '7.7417', '7.75', '7.775',
       '7.7792', '7.7875', '7.7958', '7.8', '7.8208', '7.8292', '7.85',
       '7.8542', '7.875', '7.8792', '7.8875', '7.8958', '7.925', '71',
       '71.2833', '73.5', '75.2417', '75.25', '76.2917', '76.7292',
       '77.2875', '77.9583', '78.2667', '78.85', '79.2', '79.65',
       '8.0292', '8.05', '8.1125', '8.1375', '8.1583', '8.3', '8.3625',
       '8.4042', '8.4333', '8.4583', '8.5167', '8.6542', '8.6625',
       '8.6833', '8.7125', '8.85', '8.9625', '80', '81.8583', '82.1708',
       '82.2667', '83.1583', '83.475', '86.5', '89.1042', '9', '9.2167',
       '9.225', '9.325', '9.35', '9.475', '9.4833', '9.5', '9.5875',
       '9.6875', '9.825', '9.8375', '9.8417', '9.8458', '90', '91.0792',
       '93.5', '?'], dtype=object)

In [140]:
X.replace({'?':np.nan}, inplace=True)

In [141]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1094 entries, 0 to 1308
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1094 non-null   int64
 1   sex       1094 non-null   object
 2   age       966 non-null    object
 3   fare      1093 non-null   object
 4   embarked  1092 non-null   object
dtypes: int64(1), object(4)
memory usage: 51.3+ KB

In [143]:
X[['age','fare']] = X[['age','fare']].apply(pd.to_numeric)

In [144]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1094 entries, 0 to 1308
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1094 non-null   int64
 1   sex       1094 non-null   object
 2   age       966 non-null    float64
 3   fare      1093 non-null   float64
 4   embarked  1092 non-null   object
dtypes: float64(2), int64(1), object(2)
memory usage: 51.3+ KB

In [145]:
X['pclass']=X['pclass'].astype('str')

In [146]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1094 entries, 0 to 1308
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1094 non-null   object
 1   sex       1094 non-null   object
 2   age       966 non-null    float64
 3   fare      1093 non-null   float64
 4   embarked  1092 non-null   object
dtypes: float64(2), object(3)
memory usage: 51.3+ KB

In [150]:
X['embarked']=X['embarked'].astype('str')

In [151]:
np.unique(X.embarked)

array(['C', 'Q', 'S', 'nan'], dtype=object)

#### Step 4: Use `ColumnTransformer` by selecting column by names

##############################################################################
 
 We will train our classifier with the following features:

 Numeric Features:

 * ``age``: float;
 * ``fare``: float.

 Categorical Features:

 * ``embarked``: categories encoded as strings ``{'C', 'S', 'Q'}``;
 * ``sex``: categories encoded as strings ``{'female', 'male'}``;
 * ``pclass``: ordinal integers ``{1, 2, 3}``.

 Create the preprocessing pipelines for both numeric and categorical data.
 - For numeric features, create a pipeline with using imputer with median strategy and standard scaler
 - For categorical features, use imputer with most frequent and onehot encoder
 
 Use columntransformer to transform the features
 
 Append the preprocessor to the KNeighborsClassifier

In [152]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=0,stratify=y )

In [156]:
np.unique(y, return_counts=True)

(array([0, 1]), array([631, 463]))

In [161]:
numerical = X_train.dtypes!=object
categorical = X_train.dtypes==object

In [162]:
numeric_transformer = Pipeline(steps = [('imputer_num', SimpleImputer(strategy='mean')),
                  ('scaler', StandardScaler())])

In [164]:
categoric_transformer = Pipeline(steps = [('imputer_cat', SimpleImputer(strategy='most_frequent', 
                                                                        missing_values='nan')),
                  ('ohe', OneHotEncoder(handle_unknown='ignore'))])

In [166]:
ct2 = ColumnTransformer(transformers = [('num',numeric_transformer,numerical),
                                       ('cat',categoric_transformer,categorical)])

In [167]:
knn = KNeighborsClassifier()
model_tic = Pipeline(steps = [('prep',ct2),
                  ('est2', knn)])

In [168]:
model_tic.fit(X_train, y_train)

Pipeline(steps=[('prep',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('imputer_num',
                                                                   SimpleImputer()),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  pclass      False
sex         False
age          True
fare         True
embarked    False
dtype: bool),
                                                 ('cat',
                                                  Pipeline(steps=[('imputer_cat',
                                                                   SimpleImputer(missing_values='nan',
                                                                                 strategy='most_frequent')),
                                                                  ('ohe',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  pclass       True
sex          True
age         False
fare        False
embarked     True
dtype: bool)])),
                ('est2', KNeighborsClassifier())])

In [169]:
model_tic.score(X_train, y_train)

0.8341463414634146

In [170]:
model_tic.score(X_test, y_test)

0.7591240875912408

Using the prediction pipeline in a grid search

##############################################################################

 Grid search can also be performed on the different preprocessing steps
 defined in the `ColumnTransformer` object, together with the classifier's
 hyperparameters as part of the `Pipeline`.
 We will search for both the imputer strategy of the numeric preprocessing
 and the number of neighbor parameter of the kneighbors classifier using
 `GridSearchCV`.

In [174]:
ct2.named_transformers_

{'num': Pipeline(steps=[('imputer_num', SimpleImputer()), ('scaler', StandardScaler())]),
 'cat': Pipeline(steps=[('imputer_cat',
                  SimpleImputer(missing_values='nan', strategy='most_frequent')),
                 ('ohe', OneHotEncoder(handle_unknown='ignore'))])}

In [178]:
model_tic.named_steps

{'prep': ColumnTransformer(transformers=[('num',
                                  Pipeline(steps=[('imputer_num',
                                                   SimpleImputer()),
                                                  ('scaler', StandardScaler())]),
                                  pclass      False
 sex         False
 age          True
 fare         True
 embarked    False
 dtype: bool),
                                 ('cat',
                                  Pipeline(steps=[('imputer_cat',
                                                   SimpleImputer(missing_values='nan',
                                                                 strategy='most_frequent')),
                                                  ('ohe',
                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                  pclass       True
 sex          True
 age         False
 fare        False
 embarked     True
 dtype: bool)]),
 'est2': KNeighborsClassifier()}

In [187]:
ets = model_tic.named_steps['est2']

In [191]:
params = {'est2__n_neighbors':np.arange(1,30,2)}

In [192]:
mygrid = GridSearchCV(model_tic, param_grid=params, cv=5)

In [193]:
mygrid.fit(X_train, y_train)

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('prep',
                                        ColumnTransformer(transformers=[('num',
                                                                         Pipeline(steps=[('imputer_num',
                                                                                          SimpleImputer()),
                                                                                         ('scaler',
                                                                                          StandardScaler())]),
                                                                         pclass      False
sex         False
age          True
fare         True
embarked    False
dtype: bool),
                                                                        ('cat',
                                                                         Pipeline(steps=[('imputer_cat',
                                                                                          SimpleImputer(missing_values='nan',
                                                                                                        strategy='most_frequent')),
                                                                                         ('ohe',
                                                                                          OneHotEncoder(handle_unknown='ignore'))]),
                                                                         pclass       True
sex          True
age         False
fare        False
embarked     True
dtype: bool)])),
                                       ('est2', KNeighborsClassifier())]),
             param_grid={'est2__n_neighbors': array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29])})

In [194]:
mygrid.best_params_

{'est2__n_neighbors': 9}

In [195]:
knn2 = KNeighborsClassifier(n_neighbors=9)
model_tic_final = Pipeline(steps = [('prep',ct2),
                  ('est3', knn2)])

In [196]:
model_tic_final.fit(X_train, y_train)
print(model_tic_final.score(X_train, y_train))
print(model_tic_final.score(X_test, y_test))

0.8060975609756098
0.7737226277372263